
<style>
  #disform{
    padding: 10px;

  }
  #lname{
    font-size: 23px;
  }
  #list{
    font-size: 18px;
  }
  .field{
    width: 205px;
    height: 25px;
    font-size: 15px;
    border-style: none;
    border-color : lightgrey;
    background-color: lightgrey;
  }
  .field1{
    width: 200px;
    height: 24px;
    border-color : lightgrey;
    background-color: lightgrey;
    border-style: none;
  }

  .btn{
    width: 60px;
    height: 25px;
    margin-left: 100px;
    background-color: lightgrey;
    border-style: none;
    border-color : lightgrey;
  }
  .button{
    border: 1px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;


  }


  .table2{
    padding: 10px;
    width: 800px;
    font-size: 19px;
    text-align: center;
    table-layout: fixed;
  }
  .radiobtn{
    border-radius: 2px green;
    size: 60%;
    color: green;
  }
  .radiobtn  {

    border-radius: 4px;
}
.bg{
  border: 2px solid;
  margin-left: 150px;
  margin-right: 150px;
  border-color: black;
  height: 700px;

}


</style>
<div class="bg">
<div >

  <!-- Toolbar -->
  <form style="text-align:center;" id="disform" onSubmit="submit()" >
    <h1>District Search</h1>

  <table  cellPadding="10px" align="center" class ="table"  >
    <tbody>
      <tr><td><label id="lname" for="name">District</label></td>
  <td>
    : <select #cricket id="name" class= "field"  >
      <option value="default" required> </option>
      <option id="list" *ngFor="let district of districts" [value] = "district.value">
        {{district.display}}
      </option>
  </select>

  </td>
  </tr>
  <tr>
       <td> <label id="lname" for="area">Area(sq mt)</label></td>
       <td>: <input id="area" class="field1"  required  type="text" [formControl]="area"></td>
  </tr>
  <tr>
    <td><label id="lname" for="population">Population</label></td>
    <td>: <input id="population"  class="field1"  type="text"  required [formControl]="population" ></td>
  </tr>
  <tr>
  <td></td>
  <td><input type="Submit" value="Save" class="btn" /></td>
  </tr>
  </tbody>
  </table>
</form>
</div>

<div>
<form >
  <table style="background-color: #ffffff; filter: alpha(opacity=40); opacity: 0.95;border:2px black solid;" cellSpacing="5px" cellPadding="30px" align="center"  class ="table2">
    <thead>
      <tr><label  for="district">Biggest District(Area wise)</label></tr>
      </thead>
   <tbody >
      <tr>
      <td><input  type="radio"  name="district"   class="radiobtn"  value="Chennai">Chennai  </td>
      <td><input type="radio"   name="district"   class="radiobtn"  value="Coimbatore" checked>Coimbatore</td>
      <td><input type="radio"   name="district"   class="radiobtn"  value="Salem">Salem</td>
      </tr>
    </tbody>
  </table>
</form>
</div>
<br>

<div>



<form>
  <table style="background-color: #ffffff; filter: alpha(opacity=40); opacity: 0.95;border:2px black solid;"  cellSpacing="5px" cellPadding="30px"  align="center"  class ="table2">
  <thead>
    <tr><label  for="district">Highly populated District</label></tr>
  </thead>
     <tbody>
      <tr>
       <td><input type="radio"   name="district"   class=" radiobtn" checked value="Chennai" >Chennai</td>
       <td><input type="radio"  name="district"   value="Coimbatore" >Coimbatore</td>
       <td><input type="radio"  name="district"   value="Salem">Salem</td>
       </tr>
    </tbody>

  </table>
  <br>
</form>


</div>
</div>
<script>
  function submit() {
    if( '#name' == ''){
    window.location.reload();
    }
  }
</script>

